<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h3>Register</h3>
<a href="/sessions/new">Login</a>
<hr>
<% if flash[:error1] -%>
  <p class='error'><%=h flash[:error1] %></p>
<% end -%>
	<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		Name<input type="text" name="name">
		<br>
		Alias<input type="text" name="alias">
		<br>
		Email<input type="email" name="email">
		<br>
		Password<input type="password" name="password">
		<br>
		Confirm Password<input type="password" name="password_confirmation">
		<br>
		<input type="submit" value="Register">
	</form>
</div>
</body>
</html>